/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: black;
}

/* You start your css below */

/* ----page body container--- */

.earbuds_page_body {
    background-color: white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}




/*----------------------------- */

/*--------second header------------ */




.second_header_section {
    display: flex;
    min-width: 320px;
    background-color: #01526F;
    color: white;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 0px solid;
    /*position: sticky;
    border-top: 1px solid;
    background-color: #F9F9F9;*/

}


.second_header_links_container {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;


}

.second_menu_menuitem {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-family: sol-pro;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}



/*----------------------------- */

/*--------earbuds about section------------ */


.earbuds_about_section {
    margin-top: 0px;
}

.earbuds_about_flexbox {
    display: flex;
    flex-direction: column;
}

.earbuds_background_color {
    width: 100%;
    background-image: linear-gradient(#01526F, white);
    padding-top: 40px;
    padding-bottom: 60px;
}

.earbuds_heading {
    font-family: industry;
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.earbuds_heading_about {
    font-family: industry;
    text-align: center;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    color: white;


}

.earbuds_heading_about_description {
    color: white;
    font-family: industry;
    font-size: 18px;
    text-align: center;
    width: 95%;
    margin: auto;
}

.earbuds_about_innerflexbox {
    display: flex;
    flex-direction: column;

}

.earbuds_about_desctiption_left_flexbox {
    width: 90%;
    margin: auto;
}

.earbuds_about_desctiption_right_flexbox {
    width: 90%;
    margin: auto;
}

.earbuds_about_desctiption_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.earbuds_about_desctiption_heading {
    font-family: sol-pro;
    text-align: center;
    margin-bottom: 0px;
    font-size: 24px;
}

.earbuds_about_desctiption_list_p {
    font-family: industry;
    text-align: left;
    font-size: 18px;
    width: 90%;
    margin-left: 20px;
    margin-top: 5px;
}

.soundq_list {}

.soundq_list_item {
    margin: 20px 0px;
}

.earbuds_about_desctiption_text_p {
    font-family: industry;
    text-align: center;
    font-size: 18px;
}


.earbuds_about_image_container {
    order: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: 25px;
}

.earbuds_about_image {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.earbuds_button_container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    order: -1;

}

.earbuds_buy_button1 {
    /*width: 180px;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;*/
    text-decoration: none;
}

.earbuds_buy_button_text {
    font-family: industry;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    background-color: #01526F;
    text-decoration: none;
    padding: 8px 100px;
    border-radius: 35px;
}




/*----------------------------- */

/*--------in action section------------ */

.earbuds_inaction_flexbox {
    display: flex;
    flex-direction: column;
}

.earbuds_inaction_innerflexbox {
    display: flex;
    flex-direction: column;
}

.earbuds_inaction_text_video_flexbox {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.earbuds_inaction_ht_container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.earbuds_inaction_heading {
    font-family: sol-pro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 25px;

}

.earbuds_inaction_heading_1 {
    font-family: sol-pro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 25px;

}

.earbuds_inaction_text {
    font-family: industry;
    font-size: 18px;
    margin-bottom: 50px;
}

.earbuds_inaction_link_text {
    font-family: sol-pro;
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;

}

.seemore_tutorials_link {
   color: darkgray;

}


.earbuds_inaction_text_1 {
    font-family: industry;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.earbuds_inaction_quote {
    font-family: sol-pro;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 40px;
}

.earbuds_inaction_quote_name{
    font-family: industry;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: right;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.earbuds_inaction_video_container {
    order: -1;
    margin-left: auto;
    margin-right: auto;
}

.earbuds_inaction_video_container_320 {
    order: -1;
    margin-left: auto;
    margin-right: auto;
}

.earbuds_inaction_video_container_600 {
    display: none;
}

.earbuds_inaction_a_video {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.earbuds_inaction_video {
    display: block;
    width: 100%;
    order: ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.tutorial_container{
    background-color: #01526F;
    padding-top: 40px;
    padding-bottom: 0px;
    color: white;
}

.earbuds_heading_tutorials {
    font-family: industry;
    text-align: center;
    margin-bottom: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    letter-spacing: 2px;
}


/*----------------------------- */

/*----ratings and reviews section--------- */

.earbuds_review_section {
    display: flex;
    flex-direction: column;

}

.earbuds_heading_desctiption_text {
    font-family: industry;
    text-align: center;
    font-size: 18px;
    width: ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display:
}

.earbuds_review_flexbox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 30px;
}

.earbuds_review_innerflexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 10px;
}

.earbuds_review_header {
    font-family: sol-pro;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.earbuds_review_star_image {
    width: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

}

.earbuds_review_text {
    font-family: industry;
    font-size: 18px;
    text-align: center;
}

/*----------------------------- */

/*--------buy now section------------ */

.earbuds_buy_section {
    display: flex;
    flex-direction: column;
    background-color: #E6E9E9;
    margin-bottom: 0px;
}

.earbuds_buy_flexbox_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}

.earbuds_buy_gallery_image1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.earbuds_buy_gallery_image2 {
    display: none;
}

.earbuds_buy_heading_mobile {
    order: ;
    font-family: industry;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
}

.earbuds_buy_heading {
    display: ;
    order: -1;
    font-family: industry;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.earbuds_buy_image_container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.earbuds_buy_text_container {
    display: flex;
    flex-direction: column;
}

.earbuds_buy_button {
    order: -1;
    font-family: industry;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: #01526F;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 35px;
    text-decoration: none;
    text-align: center;
}

.earbuds_buy_price_text {
    font-family: sol-pro;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 8px;
    order: -1;
}

.earbuds_buy_text {
    font-family: industry;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.1px
}





/*----------------------------- */

/*--------name here------------ */




/*----------------------------- */

/*-----------lines------------ */

.earbuds_line_1_ {
    width: 5px;
    height: 80px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 40px;

}

.earbuds_line_2 {
    width: 5px;
    height: 50px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;

}

.earbuds_line_3 {
    width: 5px;
    height: 50px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

}

.earbuds_line_4 {
    width: 5px;
    height: 80px;
    background-image: linear-gradient(#01526F, white);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 50px;

}

.earbuds_line_5 {
    width: 5px;
    height: 80px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

.earbuds_line_6 {
    width: 5px;
    height: 80px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 50px;

}

.earbuds_line_7 {
    width: 5px;
    height: 80px;
    background-image: linear-gradient(white,#01526F);
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 0px;

}



/*----------------------------- */

/*--------name here------------ */

















/*----------------------------- */

/*----------Media Q 600------------ */

@media only screen and (min-width: 600px) {


    .earbuds_second_header_section {
        display: flex;
        min-width: 320px;
        overflow: auto;
        white-space: inherit;

        /*position: sticky;*/

    }

    .earbuds_second_header_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
 }


   .earbuds_about_innerflexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
       justify-content: center;
       align-content: center;

}

  .earbuds_about_desctiption_left_flexbox {
    width: 46%;
    margin: 0px 5px;
}

  .earbuds_about_desctiption_right_flexbox {
    width: 46%;
    margin: 100px 5px 0px 5px;
}

  .earbuds_button_container {
    margin: auto 143.5px;
    margin-bottom: 20px;
    order: -1;

}


  .earbuds_line_1_ {
    display: none;

}

    .earbuds_line_1__ {
    display: block;
    width: 5px;
    height: 80px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    margin: 0px 290px 40px 290px
}

    .earbuds_line_middle_600_1{
    display: block;
    width: 5px;
    height: 1150px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    margin: -40px 0px 0px 0px
    }




  .earbuds_about_desctiption_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

 .earbuds_line_2 {
    width: 5px;
    height: 50px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-top: -135px;

}

 .earbuds_line_3 {
    width: 5px;
    height: 80px;
    background-color: #01526F;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

}


.main_body_campaign_header {
            font-family: industry;
            text-align: center;
            font-size: 55px;
            margin-top: 15px;
            margin-bottom: 10px;
            font-style: italic;
        }

 .main_body_campaign_text {
            text-align: left;
            font-size: 18px;
            padding-right: 15px;
            margin-left: 0px;
            margin-right: 0px;;
            max-width: none;
            width: 50%;

        }

  .main_body_campaign_innerflexbox {
    flex-direction: row;
      justify-content: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
          margin-bottom: 15px;
        }

        .main_body_campaign_button {
            font-family: industry;
            text-decoration: none;
            text-align: center;
            border-radius: 30px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 15px;
            width: 50%;
            margin: auto;
        }


 .earbuds_heading {
    font-family: industry;
    text-align: center;
    margin-bottom: 10px;
     margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
}

 .earbuds_inaction_video_container_320 {
    display: none;
}

.earbuds_inaction_video_container_600 {
    display: block;
    width: 100%;
    order: -1;
    margin-left: auto;
    margin-right: auto;
}

  .earbuds_inaction_a_video {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 20px;
}

    .earbuds_inaction_heading_1 {
    font-family: sol-pro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: left;

}

  .earbuds_inaction_text_1 {
    font-family: industry;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
      margin-left: 0;
      margin-right: auto;

}


  .earbuds_inaction_quote {
    width: 80%;
      margin-left: auto;
      margin-right: auto;
}


 .earbuds_line_7 {
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 0px;

}



 .earbuds_heading_tutorials {
    font-family: industry;
    text-align: center;
    margin-bottom: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    letter-spacing: 2px;
}

.tutorial_container{
    background-color: #01526F;
    padding-top: 40px;
    padding-bottom: 0px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

   .earbuds_heading_tutorials {
    font-family: industry;
    text-align: center;
    margin-bottom: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    letter-spacing: 2px;
}

 .earbuds_inaction_text_video_flexbox {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
     .earbuds_inaction_text_video_flexbox_1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

    .seemore_tutorials_text_container{
        margin-left: auto;
        margin-right: auto;
    }







































    }






/*----------------------------- */

/*----------Media Q 900------------ */


    @media only screen and (min-width: 900px)
