/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: white;
}

/* You start your css below */

/* ----page body container--- */

.earbuds_page_body{
    background-color: white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


/*----------------------------- */

/*--------second header------------ */




.earbuds_second_header_section{
    display: flex;
    min-width: 320px;
    background-color: #F9F9F9;
    overflow: auto;
    white-space: nowrap;
    border-top: 1px solid;
    border-bottom: 0px solid;
    /*position: sticky;*/

}


.earbuds_second_header_links{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;


}

.earbuds_menuitem{
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    font-family: sol-pro;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}



/*----------------------------- */

/*--------earbuds about section------------ */


.earbuds_about_section{
    margin-top: 30px;
}

.earbuds_about_flexbox{
    display: flex;
    flex-direction: column;
}

.earbuds_heading{
    font-family: industry;
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.earbuds_about_innerflexbox{
   display: flex;
    flex-direction: column;

}

.earbuds_about_desctiption_left_flexbox{

}

.earbuds_about_desctiption_text{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.earbuds_about_desctiption_heading{
    font-family: sol-pro;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.earbuds_about_desctiption_text_p{
    font-family: industry;
    text-align: center;
    font-size: 18px;
}


.earbuds_about_image_container{
    order: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

.earbuds_about_image{
    width: 280px;

}

.earbuds_button_container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.earbuds_buy_button1{
    /*width: 180px;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;*/
}

.earbuds_buy_button_text{
    font-family: industry;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: blue;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 35px;
}


/*----------------------------- */

/*--------in action section------------ */

.earbuds_inaction_flexbox{
    display: flex;
    flex-direction: column;
}

.earbuds_inaction_innerflexbox{
    display: flex;
    flex-direction: column;
}

.earbuds_inaction_text_video_flexbox{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.earbuds_inaction_ht_container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.earbuds_inaction_heading{
    font-family: sol-pro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 10px;

}

.earbuds_inaction_text{
    font-family: industry;
    font-size: 18px;
    margin-bottom: 50px;
}


.earbuds_inaction_video_container{
    order: -1 ;
    margin-left: auto;
    margin-right: auto;
}

.earbuds_inaction_a_video{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.earbuds_inaction_video{
    display: block;
    width: 100%;
    order: ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.earbuds_heading_tutorials{
    font-family: industry;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}


/*----------------------------- */

/*----ratings and reviews section--------- */

.earbuds_review_section{
    display: flex;
    flex-direction: column;

}

.earbuds_heading_desctiption_text{
    font-family: industry;
    text-align: center;
    font-size: 18px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: none;
}

.earbuds_review_flexbox{
 width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 30px;
}

.earbuds_review_innerflexbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 10px;
}

.earbuds_review_header{
    font-family: sol-pro;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.earbuds_review_star_image{
    width: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

}

.earbuds_review_text{
    font-family: industry;
    font-size: 18px;
    text-align: center;
}

/*----------------------------- */

/*--------buy now section------------ */

.earbuds_buy_section{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 0px;
}

.earbuds_buy_flexbox_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}

.earbuds_buy_gallery_image1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.earbuds_buy_gallery_image2{
    display: none;
}

.earbuds_buy_heading_mobile{
    order: ;
    font-family: industry;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
}

.earbuds_buy_heading{
    display: ;
    order: -1;
    font-family: industry;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.earbuds_buy_image_container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.earbuds_buy_text_container{
  display: flex;
    flex-direction: column;
}

.earbuds_buy_button{
    order: -1;
    font-family: industry;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: blue;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 35px;
    text-decoration: none;
    text-align: center;
}

.earbuds_buy_price_text{
    font-family: sol-pro;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 8px;
    order: -1;
}

.earbuds_buy_text{
    font-family: industry;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}





/*----------------------------- */

/*--------name here------------ */




/*----------------------------- */

/*-----------lines------------ */

.earbuds_line_2{
    width: 5px;
    height: 50px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;

}

.earbuds_line_3{
    width: 5px;
    height: 50px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

}

.earbuds_line_4{
    width: 5px;
    height: 80px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 0px;

}

.earbuds_line_5{
    width: 5px;
    height: 80px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

.earbuds_line_6{
    width: 5px;
    height: 80px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 40px;

}

.earbuds_line_7{
    width: 5px;
    height: 80px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
    margin-bottom: 50px;

}



/*----------------------------- */

/*--------name here------------ */

















/*----------------------------- */

/*----------Media Q------------ */

@media only screen and (min-width: 600px){


.earbuds_second_header_section{
    display: flex;
    min-width: 320px;
    overflow: auto;
    white-space:inherit;

    /*position: sticky;*/

}

.earbuds_second_header_links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left:auto;
    margin-right: auto;

















}









@media only screen and (min-width: 900px)
