/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* You start your css below */





/*----Fonts----*/

/*Header*/
font-family: industry,sans-serif;
font-weight: 900;
font-style: normal;

font-family: industry,sans-serif;
font-weight: 900;
font-style: italic;

/*Subhead*/
font-family: sol-pro,sans-serif;
font-weight: 700;
font-style: normal;

/*paragraph*/
font-family: industry,sans-serif;
font-weight: 400;
font-style: normal;

font-family: industry,sans-serif;
font-weight: 400;
font-style: italic;





/*
font-family: sol-pro,sans-serif;
font-weight: 400;
font-style: italic;

font-family: sol-pro,sans-serif;
font-weight: 700;
font-style: italic;

font-family: sol-pro,sans-serif;
font-weight: 400;
font-style: normal;
*/








