/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: black;
}

/* You start your css below */


/*----Fonts----*/

/*Header*/
@font-face {
    font-family: industry, sans-serif;
    font-weight: 900;
    font-style: normal;

    font-family: industry, sans-serif;
    font-weight: 900;
    font-style: normal;

    font-family: industry, sans-serif;
    font-weight: 900;
    font-style: italic;

    /*Subhead*/
    font-family: sol-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: sol-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: sol-pro, sans-serif;
    font-weight: 300;
    font-style: normal;

    /*paragraph*/
    font-family: industry, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: industry, sans-serif;
    font-weight: 400;
    font-style: italic;

    font-family: industry, sans-serif;
    font-weight: 300;
    font-style: normal;

    font-family: industry, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*---------------------------*/

/*---MAIN LANDING SECTION-----*/

.main_content_body {
    display: block;
}

.main_landing_container {
    background-image: url(../images/photos/landing_mobile-short.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-position: top;
    height: 498px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    max-height: 497px;
    min-height: 497px;
}

.main_landing_image_input {
    width: 100%;
}

.main_landing_text_container {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding-left: 10px;

}

.main_landing_subheader {
    color: white;
    font-family: sol-pro;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.main_landing_text {
    color: white;
    font-family: industry;
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 10px;
    width: 310px;
}


.main_landing_buttons_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 380px;
}

.main_landing_cta_button {
    color: black;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    width: 280px;
    /*height: 33px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-family: industry;
    font-size: 12px;
}

.line_gradient_1 {
    width: 5px;
    height: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}





/*---------------------*/

/*---MAIN content section-----*/

.main_body_content_container {
    background-image: linear-gradient(rgba(10, 10, 10), white, white, white, white, white, black);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}


/*---------------------*/

/*-MAIN content features and specs section--*/

.main_body_fs_container {
    display: flex;
    flex-direction: column;
}

.sf_text_container {
    display: flex;
    flex-direction: column;
}

.main_body_sf_heading {
    font-family: sol-pro;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
}

.main_body_sf_text {
    font-family: industry;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    max-width: 520px;
}

.main_body_sf_button {
    font-family: industry;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main_body_sf_button-dt1 {
    display: none;
}

.main_body_sf_button-dt2{
    display: none;
}

.main_body_sf_product_img1 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 50px;
}

.main_body_sf_product_img2 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

/*---------------------*/
/*-----main page campaign section--------*/

.main_body_campaign_container {
    background-color: #E6E9E9;
    /*border-color: #014C6B;*/
    width: 100%;
    /*border: 6px solid rgb(1, 76, 107, 1);*/
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main_body_campaign_header {
    font-family: industry;
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;

}

.main_body_campaign_innerflexbox {
    display: flex;
    flex-direction: column;
}

.main_body_campaign_text {
    font-family: industry;
    text-align: center;
    font-size: 18px;

}

.main_body_campaign_button {
    font-family: industry;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #D0E537;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*---------------------*/
/*--main page athelete review section----*/

.main_body_a_review_container {
    display: flex;
    flex-direction: column;
}


.a_review_image {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.main_body_a_review_text_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main_body_a_review_header {
    font-family: industry;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1px;
}

.main_body_a_review_text {
    font-family: industry;
    text-align: center;
    /*margin-left: 15px;
    margin-right: 15px;*/
    font-size: 18px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main_body_a_review_button {
    font-family: industry;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}


/*---------------------*/

/*---Main rating content-----*/


.main_body_rating_container {
    display: flex;
    flex-direction: column;
}

.main_body_rating_flexbox {
    display: flex;
    flex-direction: column;
}

.main_body_rating_title_header {
    font-family: industry;
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}

.main_body_rating_innerflexbox {
    display: flex;
    flex-direction: column;
}



.main_body_rating_product_1_img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.main_body_rating_stars_img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main_body_rating_text_container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.main_body_rating_header {
    font-family: sol-pro;
    text-align: center;
    margin-bottom: 20px;
}

.main_body_rating_text {
    font-family: industry;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}


/*---------------------*/

/*---main body bose site section-----*/

.main_body_bose_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main_body_bose_logo {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_body_bose_text {
    font-family: industry;
    text-align: center;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    margin-top: 15px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.main_body_bose_text_link {
    font-family: industry;
    color: #2883a8;
}


/*---------------------*/

/*---main page content spotify-----*/


.main_body_music_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: ;
    /*border: solid 8px rgb(255, 255, 255);*/
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 5px 10px 18px 0px #888888;*/
}

.main_body_music_flexbox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.main_body_music_innerflexbox {
    display: flex;
    flex-direction: column;

}

.main_body_music_spotify_logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100px;
}

.main_body_music_header {
    font-family: industry;
    font-size: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*color: white;*/
}

.main_body_music_button {
    font-family: industry;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}

/*---------------------*/

/*---gradient lines-----*/
.line_gradient_1 {
    width: 5px;
    height: 82px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.line_gradient_2 {
    width: 5px;
    height: 60px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.line_gradient_3 {
    width: 5px;
    height: 100px;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.line_gradient_4 {
    width: 5px;
    height: 40px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.line_gradient_5 {
    width: 5px;
    height: 50px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}


.line_gradient_6 {
    width: 5px;
    height: 70px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}


.line_gradient_7 {
    width: 5px;
    height: 80px;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.line_gradient_8 {
    width: 5px;
    height: 80px;
    background-color: #777777;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.line_gradient_9 {
    width: 5px;
    height: 80px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}


/*------------------------------*/
/*--------------------Footer--------------*/


.page_footer {
    /* width: 100%;*/
    min-width: 320px;
    max-width: 900px;
    margin: auto;
}

.footer_main_flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    background-color: black;
}



.up_arrow_footer {
    width: 60px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer_nav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.footer_nav_link {
    text-align: center;
    font-family: sol-pro;
    font-size: 16px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.footer_some_container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 280px;
}

.footer_some_link {
    width: 50px;
}


.bose_footer_logo {
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px
}


.footer_copyright_text {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}


/*-------Footer Media Q---------------*/

@media only screen and (min-width: 600px) {


    .footer_main_flexbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        background-color: black;
    }


    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 15px;
    }

    .footer_nav_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 0px;

    }

    .footer_nav_link {
        margin: 0px 30px
    }

    .footer_some_container {
        margin-bottom: 0px;
        width: 320px;
    }

}

/*--------900px---------------*/


@media only screen and (min-width: 900px) {

    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 85px;
    }

}

@media only screen and (min-width: 1050px) {

    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 165px;
    }

}

@media only screen and (min-width: 1200px) {

    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 245px;
    }

}

@media only screen and (min-width: 1370px) {

    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 340px;
    }

}

@media only screen and (min-width: 1550px) {

    .up_arrow_footer {
        position: absolute;
        width: 60px;
        margin-top: 30px;
        display: block;
        right: 400px;
    }

}

/*---------------------------------------*/
/*-----------media Q main page--------------*/

@media only screen and (min-width: 400px) {

    .main_landing_container {
        background-image: url(../images/photos/landing_mobile400-short.jpg);

    }

    @media only screen and (min-width: 500px) {

        .main_landing_container {
            background-image: url(../images/photos/landing_mobile500-short.jpg);
        }


    }


    @media only screen and (min-width: 600px) {

        .main_landing_container {
            background-image: url(../images/photos/landing-600-2.gif);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 100%;
            background-position: top;
            height: 620px;
            max-width: 899px;
            margin-left: auto;
            margin-right: auto;
            max-height: 800px;
            min-height: 00px;
            */
        }

        .main_landing_buttons_container {
            flex-direction: row;
            padding-top: 450px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .main_landing_cta_button {

            margin: 10px;
            padding-bottom: 2px;
            padding-top: 2px;
            font-size: 12px;
            width: 250px;
            margin-left: auto;
            margin-right: auto;

        }

        .line_gradient_1 {

            height: 114px;
            background-color: lightgray;

        }

        .line_gradient_4 {
            width: 5px;
            height: 40px;
            background-color: lightgray;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }

        .main_body_campaign_header {
            font-family: industry;
            text-align: center;
            font-size: 55px;
            margin-top: 15px;
            margin-bottom: 5px;
            font-style: italic;
        }


        .main_body_campaign_innerflexbox {
            flex-direction: row;
        }

        .main_body_campaign_text {
            text-align: left;
            font-size: 18px;
            padding-right: 15px;
            margin-left: 15px;
            max-width: 450px
        }

        .main_body_campaign_button {
            font-family: industry;
            text-decoration: none;
            text-align: center;

            border-radius: 25px;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 12px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
            margin-top: 0px;
            margin-right: 20px
        }

        .line_gradient_5 {
            width: 5px;
            height: 50px;
            background-color: lightgray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;

        }

        .line_gradient_6 {
            width: 5px;
            height: 120px;
            background-color: lightgray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            margin-top: 40px;
        }

        .main_body_rating_title_header {
            font-family: industry;
            text-align: center;
            margin-bottom: 45px;
            font-size: 40px;
        }

        .main_body_rating_flexbox {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;

        }

        .main_body_rating_innerflexbox {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-left: 12px;
            margin-right: 12px;
        }

        .main_body_rating_product_1_img {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
        }

        .main_body_rating_line {
            height: 360px;
            width: 3px;
            background-color: lightgray;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

        .main_body_rating_text_container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
        }

        .main_body_rating_header {
            font-family: sol-pro;
            text-align: center;
            margin-bottom: 20px;
            font-size: 22px;
        }

        .main_body_rating_text {
            font-family: industry;
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
        }

        .line_gradient_7 {
            width: 5px;
            height: 100px;
            background-color: darkgray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            margin-top: 50px;
        }


        .main_body_music_container {
            display: flex;
            flex-direction: row;
            background-color: white;
            height: ;
            /*border: solid 8px rgb(255, 255, 255);*/
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            /*box-shadow: 5px 10px 18px 0px #888888;*/
        }

        .main_body_music_flexbox {
            display: flex;
            flex-direction: row;
            margin: 15px 22px;
        }


        .main_body_music_innerflexbox {
            display: flex;
            flex-direction: row;


        }

        .main_body_music_spotify_logo {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            /*margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
            max-width: 100px;
        }

        .main_body_music_header {
            font-family: industry;
            font-size: 25px;
            text-align: left;
            padding-left: 30px;
            padding-right: 20px;
            margin: auto;
            /*color: white;*/
        }

        .main_body_music_button {
            font-family: industry;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: black;
            border-radius: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 12px;
            width: 270px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
            max-height: 45px;
        }


    }



    @media only screen and (min-width: 900px) {

        .main_landing_container {
            background-image: url(../images/photos/landing-900.gif);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 100%;
            background-position: top;
            height: 650px;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            /*max-height: 699px;
            min-height: 00px;
            */
        }


        .main_landing_buttons_container {
            flex-direction: row;
            padding-top: 520px;
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;
        }

        .main_landing_cta_button {

            margin: 10px;
            width: 300px;
            padding-bottom: 4px;
            padding-top: 4px;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;

        }


        .main_body_fs_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            margin-top: 80px;
            margin-bottom: 50px;
            align-content: space-between;
            height: 560px
        }

        .sf_text_container {
            width: 290px;
            margin-left: 80px;
            margin-bottom: 0px;
        }

        .main_body_sf_heading {
            font-family: sol-pro;
            letter-spacing: 2px;
            text-align: left;
            padding-bottom: 15px;
            font-size: 38px;
        }

        .main_body_sf_text {
            font-family: industry;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            font-size: 18px;
            padding-bottom: 0px;
            max-width: 520px;
        }

        .main_body_sf_product_img1 {
            order: -1;
            margin-top: 0px;
            margin-left: 80px;
            margin-right: 100px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            object-fit: contain;


        }

        .main_body_sf_product_img2 {
            order: 4;
            object-fit: contain;
            margin-left: 140px;
            margin-right: 0px;
        }

        .main_body_sf_button {
            display: none;
        }

        .main_body_sf_button-dt1 {
            display: block;
            font-family: industry;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: black;
            border-radius: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 10px;
            letter-spacing: 1px;
            width: 280px;
            margin-left: auto;
            margin-bottom: 20px;
            margin-top: 0px;
            width: 180px;
        }

        .main_body_sf_button-dt2 {
            display: block;
            font-family: industry;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: black;
            border-radius: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 10px;
            letter-spacing: 1px;
            width: 280px;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 20px;
            width: 180px;
        }

        .line_gradient_3 {
            display: none;
        }

        .line_gradient_4 {
            margin-top: 0px;
            height: 70px;
        }

        .main_body_campaign_header {
            font-family: industry;
            text-align: center;
            font-size: 65px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-style: italic;
        }

        .main_body_campaign_innerflexbox {
            display: flex;
            margin-left: 65px;
            margin-right: 55px;
            margin-bottom: 25px;
            align-content: stretch;
        }

        .main_body_campaign_text {
            text-align: left;
            font-size: 22px;
            padding-right: 0px;
            margin-left: 0px;
            max-width: 435px;
        }

        .main_body_campaign_button {
            margin-left: 48px;
            margin-right: 0px;
            margin-top: 5px;
            margin-bottom: 0px;
            height: 50px;
            width: 210px;
            align-content: flex-end;
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: center;
        }


        .line_gradient_5 {
            width: 5px;
            height: 70px;
            background-color: lightgray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 60px;

        }

        .a_review_image {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

        .line_gradient_6 {
            height: 120px;
            margin-bottom: 60px;
            margin-top: 60px;
        }

        .line_gradient_7 {
            width: 5px;
            height: 120px;
            background-color: darkgray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 60px;
            margin-top: 60px;
        }

        .main_body_bose_text {
            max-width: 700px;
        }

        .main_body_bose_logo {
            width: 280px;
        }


        .line_gradient_8 {
            width: 5px;
            height: 60px;
            margin-top: 50px;
        }

        .main_body_music_header {
            font-family: industry;
            font-size: 29px;
            text-align: left;
            padding-left: 30px;
            padding-right: 20px;
            margin: auto;
            /*color: white;*/
        }


        .line_gradient_9 {
            width: 5px;
            height: 60px;
            background-color: #333333;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }



    }
