/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: black;
}

/* You start your css below */
/*----------------------------- */

/*--------name here------------ */

.campaign_page_body{
    background-color: white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.heading_image{
    width: 100%;
}

.heading_image_900{
    display: none;
}

.campaign_title_container{
    display: none;
}

/*.campaign_title_container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: none;
}

.campaign_title_header{
    font-family: industry;
    font-size: 26px;
    text-align: center;

}

.campaign_title_description{
    font-family: industry;
    font-size: 18px;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}*/

.campaign_line_1{
    width: 5px;
    height: 95px;
    background-image: linear-gradient(white, #c7e23e);
    background-color: #c7e23e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.campaign_content_flexbox_container{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.campaign_description_text_container{
 display: none;
}
/*
.campaign_description_header{
    font-family: sol-pro;
    font-size: 24px;
    text-align: center;
}

.campaign_description_text{
    font-family: industry;
    margin-top: 10px;
    text-align: center;
    display: none;
}
*/
.campaign_form_container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
}

.campaign_form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form_lable{
    font-family: industry;
    margin-left: 5px;
    font-size: 18px;
}


.form_input{
    font-family: industry;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #E6E9E9;
    color: dimgray;
    font-size: 17px;
}


.form_enter_button{
    font-family: industry;
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color:#d0e537;
    /*background-color: #01526F;*/
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 5px 0px;
}

.campaign_body_image{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.campaign_image_container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.campaign_line_2{
    display: block;
    height: 100px;
    width: 5px;
    background-image: linear-gradient( #c7e23e, white);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    }





/*----------------------------- */

/*--------Media Q 600----------- */

@media only screen and (min-width: 600px){

    .heading_image_comtainer{

        margin-left: auto;
        margin-right: auto;
    }

    .heading_image{
     display: block;
        width: 600px;
        height: 620px;
        object-fit:cover;
        margin-left: auto;
        margin-right: auto;

    }

    .campaign_line_1{
       height: 120px;
    }

    .campaign_form_container{
        margin-bottom: 30px;
    }

    .campaign_line_2{
    height: 130px;
    width: 5px;
    background-image: linear-gradient( #c7e23e, white);
    background-color: #c7e23e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    }


}



/*--------Media Q 600----------- */

@media only screen and (min-width: 900px){

    .heading_image{
    display: none;
}

    .heading_image_900{
    display:block;
        width: 900px;

}


    .campaign_line_1{
       height: 120px;
        margin-bottom: 30px;
    }

    .campaign_form_container{
        margin-bottom: 30px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }



    .campaign_line_2{
    display: block;
    height: 130px;
    width: 5px;
    background-image: linear-gradient( #c7e23e, white);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 10px;
    }




}





















/*----------------------------- */

/*--------name here------------ */























/*----------------------------- */

/*--------name here------------ */
























/*----------------------------- */

/*--------name here------------ */





















/*----------------------------- */

/*--------name here------------ */




















/*----------------------------- */

/*--------name here------------ */























/*----------------------------- */

/*--------name here------------ */


